:root {
    /* this is equivalent to ARENA_WIDTH */
    --areana-width: 26.5rem;
}

.appContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arenaContainer {
    width: 26.5rem;
    transition: 0.2s;
}

@media (max-width: 26.5rem) {
    .appContainer {
        display: block;
    }

    .arenaContainer {
        padding: 1rem 1rem 0;
        width: 100%;
    }
}