:root {
    /* this is equivalent to ARENA_WIDTH */
    --arena-width: 26.5rem;
}

.appContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arenaContainer {
    width: var(--arena-width);
    transition: 0.2s;
}

.gameInfoModalContainer {
    width: var(--arena-width);
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 26.5rem) {
    .appContainer {
        display: block;
    }

    .gameInfoModalContainer {
        padding: 0.8rem;
        translate: unset;
        top: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        right: 0;
    }

    .arenaContainer {
        padding: 1rem 1rem 0;
        width: 100%;
    }
}